1. Write a Python program to convert kilometers to miles?

In [9]:
def kimil(k):
    return f"miles after conversion are :  {round(k*0.62137119) } nice."


k = float(input("Enter the kilometers : "))
kimil(k)

Enter the kilometers : 111.045

'miles after conversion are :  69 nice.'


2. Write a Python program to convert Celsius to Fahrenheit?

In [12]:
def celah(c):
    return f"after conversion its : {(c * 9/5) + 32 } fahrenheits."


c = float(input("Enter the number in celcius  :"))
celah(c)

Enter the number in celcius  :20.5556

'after conversion its : 69.00008 fahrenheits.'

3. Write a Python program to display calendar?

In [22]:
import calendar



yy = 2022
# mm = 8

print(calendar.calendar(yy))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31



4. Write a Python program to solve quadratic equation?

ax2 + bx + c = 0, where
a, b and c are real numbers and
a ≠ 0
The solutions of this quadratic equation is given by:

(-b ± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

In [25]:
a = float(input("Enter the num1 :  "))
b = float(input("Enter the num2 :  "))
c = float(input("Enter the num3 :  "))
sol1 = (-b + (b**2 - 4*a*c)**0.5)/ (2*a)
sol2 = (-b - (b**2 - 4*a*c)**0.5)/ (2*a)
print(sol1,sol2)

Enter the num1 :  1
Enter the num2 :  2
Enter the num3 :  3
(-0.9999999999999999+1.4142135623730951j) (-1-1.4142135623730951j)


5. Write a Python program to swap two variables without temp variable?

In [34]:
a = 55
b = 77
print(f"this is before swap a : {a},\tb  : {b}")
a, b = b,a
print(f"this is after swap a : {a}, \t b: {b}")

this is before swap a : 55,	b  : 77
this is after swap a : 77, 	 b: 55