1. Write a Python Program to Find the Factorial of a Number?

In [5]:
n = int(input("enter the no:   "))
def fac(n):
    if n==1:
        return 1
    else:
        return n*fac(n-1)


fac(n)

enter the no:   6

720

2. Write a Python Program to Display the multiplication Table?

In [4]:
n = int(input("enter the number  : "))
print(f"multiplication table for {n} is :")
for i in range(1,11):
    print(f"{i*n}")

enter the number  : 6
multiplication table for 6 is :
6
12
18
24
30
36
42
48
54
60



3. Write a Python Program to Print the Fibonacci sequence?

In [31]:
def fibs(n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        a, b = b, a + b

In [33]:
print(list(fibs(99)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049]

In [34]:
# for i in fibs(7):
#     print(i)

0
1
1
2
3
5
8

4. Write a Python Program to Check Armstrong Number?

An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to the number itself. For example, 371 is an Armstrong number since `3**3 + 7**3 + 1**3 = 371`

In [43]:
n = int(input("Enter you digit  : "))

sum = 0
temp = n
while temp > 0:
    digit = temp%10
    sum += digit**3
    temp //= 10
        
        
if sum == n :
    print(n,"is a armstrong number")
else:
    print(n,"it is not armstrong number")

Enter you digit  : 371
371 is a armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [52]:
b = 100

n = 100000
for i in range(b, n+1):
    order = len(str(i))
    sum = 0
    temp = i
    while temp > 0:
        digit = i%10
        sum += digit**3
        temp //= 10
        if i == sum:
            print(i)

125
216
375
729
2048




6. Write a Python Program to Find the Sum of Natural Numbers?

In [54]:
def natsu(n):  
    sumOfn = (n * (n + 1))/2
    return sumOfn

terms = int(input("Enter number of terms: "))
natsu(terms)

Enter number of terms: 100

5050.0