Question 1
Create a function that takes a number as an argument and returns True or False depending            
on whether the number is symmetrical or not. A number is symmetrical when it is the same as               
its reverse.                                    
Examples                    
is_symmetrical(7227) ➞ True                                     
is_symmetrical(12567) ➞ False              
is_symmetrical(44444444) ➞ True                                                       
is_symmetrical(9939) ➞ False    
is_symmetrical(1112111) ➞ True

In [33]:
def is_sym(input):
#     n = int(input("enter the num :   "))
    l = [int(x) for x in str(input)]
    if l[::] == l[::-1]:
        return True
    else:
        return False

In [36]:
is_sym(124),is_sym(1111)

(False, True)


Question 2              
Given a string of numbers separated by a comma and space, return the product of the                     
numbers.                  
Examples                                           
multiply_nums(&quot;2, 3&quot;) ➞ 6                 
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24               
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0                     
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [41]:
import math
def strr(n):
    total = []
    for i in n.split(","):
        total.append(int(i))
    return math.prod(total)

In [45]:
n = "2, 3"
strr(n)

6


Question 3         
Create a function that squares every digit of a number.                 
Examples                 
square_digits(9119) ➞ 811181                 
square_digits(2483) ➞ 416649                  
square_digits(3212) ➞ 9414                     
Notes                        
The function receives an integer and must return an integer.

In [46]:
def sqint(num):
    return ''.join(str(int(i)**2) for i in str(num))

In [48]:
sqint(9119)

'811181'


Question 4                
Create a function that sorts a list and removes all duplicate items from it.          
Examples                      
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]                         
setify([4, 4, 4, 4]) ➞ [4]                                 
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]               
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [49]:
def dup(n):
    new = []
    for i in n:
        if i not in new:
            new.append(i)
    return new

In [50]:
dup([1,3,3,3,3,3,5,5,5])

[1, 3, 5]


Question 5         
Create a function that returns the mean of all digits.                 
Examples                 
mean(42) ➞ 3                  
mean(12345) ➞ 3                                                                      
mean(666) ➞ 6                      
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in                 
512 is (5+1+2)/3(number of digits) = 8/3=2).                 
 The mean will always be an integer.

In [61]:
def meean(n):
    N = len(str(n))
    total = mean = 0
    for i in str(n):
        total += int(i)
    return int(total/N)

In [63]:
n = 34
meean(n)

3