#### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

select *
from worker 
where date like "%2014-02%"

#### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT column 
COUNT(column)
FROM worker
GROUP BY field_to_check
HAVING COUNT(column) > 1;


#### Q-3. How to remove duplicate rows from Employees table.

DELETE e1 FROM employee e1
INNERJOIN column_name2 c2
WHERE e1.id > c2.id AND
      e1.field=c2.field;