#### Q-13. Write an SQL query to show only odd rows from aÂ table.

SELECT * 
FROM Worker
WHERE MOD(worker_id,2) = 1


OR 

SELECT *
FROM WORKER
where id%2 = 1


#### Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE new_table SELECT * FROM original_table;

`CREATE TABLE emp (
    ID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);`




CREATE TABLE new_emp             
SELECT *                          
FROM emp