#### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

SELECT SUBSTRING(first_name,1,3)
FROM worker;

#####  Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

SELECT LOCATE('a',FIRST_NAME) FROM Worker WHERE FIRST_NAME = "Amitabh";

#### 3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT first_name, salary, department
FROM worker 
where salary = (SELECT MAX(salary) from worker where department = worker.department )

alternative sol


SELECT first_name,MAX(Salary),department
FROM worker 
GROUP BY department