#### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT * 
FROM (
        SELECT ROW_NUMBER()
        OVER (ORDER BY salary DESC) AS RN,
        first_name, salary FROM employee) as HR WHERE RN=5;


#### Q-20. Write an SQL query to fetch the list of employees with the same salary.

##### joining table with itself by salary and not with the name will give same salaries

SELECT e1.Name, e1.Salary
FROM employee e1
INNER JOIN employee e2 ON e1.Salary = e2.Salary AND s1.Name <> s2.Name

###### or we can use group by method to  join same salaries


SELECT Name
FROM employees
WHERE Salary IN (
    SELECT Salary
    FROM employees
    GROUP BY Salary
    HAVING COUNT(*) > 1
)